{
    email lsg.admim@gmail.com
}

(log) {
    log {
        output stdout
        format console
    }
}

grafana.lab.lcarilla.de {
    import log
    reverse_proxy 127.0.0.1:3000
}

lcarilla.de {
    import log
    reverse_proxy server1:10293
}

registry.lab.lcarilla.de {
    import log
    reverse_proxy server1:5000
    basicauth /* {
        quirin.stetten $2a$12$T9/jJ5guJk0hjdpBYIus/eBagOaXQO15840zfw5kKP..INW41aFWW
        luis.ternero JDJhJDE0JFpJQXVUZ1daZVZNUmZLbXJXVUVudnVtUndvdTJjd0xOWTRKVmtoQS9JVXVEaElQT2xkR2NP
        tim.kausemann JDJhJDE0JGdvY2dPNzJQa1djTzVkSVZjZXg2MS5CeWJibWZVYmhBTGx4SUFFSkQuNkxCOVhhTWpKakZx
        justus.voß JDJhJDE0JHp1VWYuTUxCaVRINmhQZDNnU2l1RlNMc1V3WWZ1Z1MvTTJqV3BzRlh6bWVndVZqUEd2Rz0=
    }
}

etherpad.lab.lcarilla.de {
    import log
    reverse_proxy https://server2:9001 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

argus.lab.lcarilla.de {
    import log
    basicauth /* {
        argus $2a$12$NLkByjuqLnwNauOoi2vSHeU062NsUwD/vyQ1NhugQgZaxdfkchL2K
    }
    reverse_proxy server1:10831
}

admins.lab.lcarilla.de/api/* {
    import log
    header {
        Access-Control-Allow-Origin *
        defer
    }
    reverse_proxy server1:10273
}

admins.lab.lcarilla.de {
    import log
    reverse_proxy server1:10274
}

portainer.lab.lcarilla.de {
    import log
    reverse_proxy 127.0.0.1:9000
}

jenkins.lab.lcarilla.de {
    import log
    reverse_proxy server3:8080
}

lab.qstetten.de {
    import log
    reverse_proxy server2:10836
}

hedgedoc.lab.lcarilla.de {
    import log
    basicauth /* {
        lab $2a$12$tduw98opm2UfX4fnnGUu8umy3z9XFcPbintkdGGt.ZgJT8RAkLub6
    }
    reverse_proxy server2:10085
}

graylog.lab.lcarilla.de {
    import log
    reverse_proxy server2:9000
}
